{% extends "::layout.html.twig" %}

{% block section %}
    <li>Administration</li>
    <li>{{ "delete.delete_post" | trans }}</li>
    <li>{{ post.title }}</li>
{% endblock %}

{% block page_content %}
    <h2>{{ "delete.title" | trans }}</h2>
    <div class="form-container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "delete.warning" | trans }}</h3>
            </div>
            <div class="panel-body">
                {{ "delete.warning_text" | trans }}
            </div>
        </div>
        <div class="row post">
            <div class="col-lg-12">
                <div>
                    <h3>{{ post.title }}</h3>
                </div>
                <div>
                    <h6>
                        {{ post.created | date('M') | trans }} {{ post.created | date('d, Y') }}
                    </h6>
                </div>
                <div class="content">
                    {{ post.content | raw }}
                </div>
            </div>
        </div>
        <form action="{{ url('delete_post', { 'postId': post.id }) }}" method="post" class="bs-example form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="submit" id="submit" name="submit" class="btn btn-danger delete-post">{{ "delete.delete_button" | trans }}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
