{% extends "::layout.html.twig" %}

{% block section %}
    <li>View post</li>
    <li>{{ post.title }}</li>
{% endblock %}

{% block page_content %}

    <div class="row post">
        <div class="col-lg-12">
            <div>
                <h3>{{ post.title }}</h3>
            </div>
            <div>
                <h6>
                    {{ post.created | date('M d, Y') }}
                    {% if show_category == true %}
                        - in <a href="{{ url('homepage') }}category/{{ post.category.slug }}">{{ post.category.title | capitalize }}</a>
                    {% endif %}
                </h6>
            </div>

            {% if post.status == 2 %}
            <div>
                <span class="label label-warning">Unpublished</span>
            </div>
            {% endif %}

            <div class="content">
                {{ post.content | raw }}
            </div>

            {% if post.status == 2 %}
                <div>
                    <a href="{{ url('edit_post', { 'postId': post.id }) }}" class="btn btn-primary btn-xs">Edit post</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row post">
        <div class="col-lg-12">
            <div class="fb-comments" data-href="{{ url('view_post', { 'postId': post.id, 'slug': post.slug }) }}" data-send="false" data-num-posts="5" mobile="false"></div>
            <style>
                .fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {
                    width: 100% !important;
                }
                .fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {
                    max-width: 600px; width: 100% !important;
                }
            </style>
        </div>
    </div>
{% endblock %}
