{% extends "::layout.html.twig" %}

{% block section %}
    <li>View post</li>
    <li>{{ post.title | capitalize }}</li>
{% endblock %}

{% block page_content %}
    <div class="row post">
        <div class="col-lg-12">
            <div>
                <h3>{{ post.title }}</h3>
            </div>
            <div>
                <h6>
                    {{ post.created | date('M d, Y') }}
                    {% if show_category == true %}
                        - in <a href="{{ url('homepage') }}category/{{ post.category.slug }}">{{ post.category.title | capitalize }}</a>
                    {% endif %}
                </h6>
            </div>
            <div class="content">
                {{ post.content | raw }}
            </div>
        </div>
    </div>
    <div class="row post">
        <div class="col-lg-12">
            <div class="fb-comments" data-href="{{ url('view_post', { 'postId': post.id, 'slug': post.slug }) }}" data-numposts="5" data-colorscheme="light"></div>
        </div>
    </div>
{% endblock %}
