<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ blog_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="{{ asset('bundles/blogmain/themes/' ~ blog_theme ~ '/css/bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/blogmain/css/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/blogmain/themes/' ~ blog_theme ~ '/css/theme.css') }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <![endif]-->

    <link rel="icon" type="image/ico" href="{{ asset('bundles/blogmain/favicon.ico') }}">
</head>
<body>

<div class="container">
    <div class="row">
       {% block page_content %}{% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ asset('bundles/blogmain/js/bootstrap.min.js') }}"></script>

</body>
</html>