<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ blog_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="{{ asset('bundles/blogmain/themes/' ~ blog_theme ~ '/css/bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/blogmain/css/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/blogmain/themes/' ~ blog_theme ~ '/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/blogmain/css/datepicker.css') }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <![endif]-->

    <link rel="icon" type="image/ico" href="{{ asset('bundles/blogmain/favicon.ico') }}">
</head>
<body>

{% if facebook_like_button or facebook_commenting %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fi_FI/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('homepage') }}" class="navbar-brand">{{ blog_title }}</a>
        </div>
        <div class="navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <form action="{{ path('search') }}" method="POST" class="navbar-form navbar-right">
                    <input type="text" name="searchPhrase" class="form-control col-lg-8" placeholder="{{ "common.search" | trans }}">
                </form>
            </ul>
        </div>
    </div>
</div>

<div class="container page">
    <main class="bs-masthead" id="content" role="main">
        {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h1>{{ "hero.hello" | trans }}, {{ app.user }}</h1>
            <p class="lead">{{ "hero.sub" | trans }}</p>
        {% else %}
            <h1>{{ blog_hero }}</h1>
            <p class="lead">{{ blog_subhero }}</p>
        {% endif %}
    </main>

    {% for message in app.session.getFlashBag.get('info') %}
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.session.getFlashBag.get('warning') %}
        <div class="alert alert-dismissable alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
        </div>
    {% endfor %}

    <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li><a href="{{ path('homepage') }}">{{ "navigation.home" | trans }}</a></li>
        {% block section %}
            {% if current_category is defined %}
                <li>{{ "common.category" | trans }}</li>
                <li>{{ current_category.title | capitalize }}</li>
            {% endif %}
        {% endblock %}
    </ul>

    <div class="row">
        <div class="col-sm-8">
            {% block page_content %}{% endblock %}
        </div>
        <div class="col-sm-4">
            <h2>{{ "side.listings" | trans }}</h2>
            <div class="list-group">
                <a class="list-group-item" href="{{ url('homepage') }}">&raquo; {{ "side.latest_posts" | trans }}</a>
                <a class="list-group-item" href="{{ url('ordered') }}">&raquo; {{ "side.chronological" | trans }}</a>
            </div>

            <h2>{{ "side.categories" | trans }}</h2>
            <div class="list-group">
                {% for category in categories %}
                <a class="list-group-item" href="{{ url('homepage') }}category/{{ category.slug }}">
                    &raquo; {{ category.title | capitalize }}
                    <span class="badge">{{ category.getCountPosts() }}</span>
                </a>
                {% else %}
                    {{ "side.categories_not_found" | trans }}
                {% endfor %}
            </div>

            <h2>{{ "navigation.admin" | trans }}</h2>
            <div class="list-group">
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if categories | length > 0 %}
                        <a class="list-group-item" href="{{ url('new_post') }}">&raquo; {{ "side.new_post" | trans }}</a>
                        {% if unpublished | length > 0 %}
                            <a class="list-group-item" href="{{ url('list_unpublished_posts') }}">
                                &raquo; {{ "side.unpublished" | trans }}
                                <span class="badge">{{ unpublished | length }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                    <a class="list-group-item" href="{{ url('list_categories') }}">&raquo; {{ "side.category_admin" | trans }}</a>
                    <a class="list-group-item" href="{{ url('fos_user_security_logout') }}">&raquo; {{ "side.logout" | trans }}</a>
                {% else %}
                    <a class="list-group-item" href="{{ url('fos_user_security_login') }}">&raquo; {{ "side.login" | trans }}</a>
                {% endif %}
            </div>

            <h2>{{ "navigation.share" | trans }}</h2>
            <div class="share-group">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style"
                     addthis:url="{{ url('homepage') }}"
                     addthis:title="{{ blog_title }}">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_compact"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b4cc8c4504e731"></script>
                <!-- AddThis Button END -->
            </div>
        </div>
    </div>
</div>

<hr/>

<section id="footer">
    <div class="bottom-menu-inverse">
        <div class="container footer">
            <div class="row">
                <div class="col-md-6 footer-column">
                    <p>Copyright &copy; {{ "now"|date("Y") }}, {{ blog_copyright }}</p>
                    <p>Powered by <a href="https://github.com/artur-gajewski/blogit">BlogIt - Open Source Blog Engine</a></p>
                </div>
                <div class="col-md-6 footer-column text-right">
                    <p>{{ blog_email }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ asset('bundles/blogmain/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/blogmain/js/bootstrap-datepicker.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>