{% extends "::layout.html.twig" %}

{% block page_content %}
    <div class="form-container">
        <div class="row article">
            <div class="col-lg-12">
                <div>
                    <h3>{{ article.title }}</h3>
                </div>
                <div>
                    <h4>
                        <span class="label label-default">
                            {{ article.created | date('M d, Y') }}
                        </span>
                    </h4>
                </div>
                <div class="content">
                    {{ article.content | raw }}
                </div>
            </div>
        </div>
        <form action="{{ url('delete_post', { 'postId': article.id }) }}" method="post" class="bs-example form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" id="submit" name="submit" class="btn btn-danger">Delete this post</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/blogmain//ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/blogmain//ckeditor/adapters/jquery.js') }}"></script>

{% endblock %}
