{% extends "::layout.html.twig" %}

{% block page_content %}
    <div class="form-container">
        <form action="{{ url('edit_post', { 'postId': article.id }) }}" method="post" class="bs-example form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="title" name="title" required="required" value="{{ article.title }}" placeholder="Enter post's title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-lg-2 control-label">Category</label>
                    <div class="col-lg-10">
                        <select id="category" name="category">
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if category.id == article.category.id %}SELECTED{% endif %}>{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-lg-2 control-label">Content</label>
                    <div class="col-lg-10">
                        <textarea id="content" name="content" class="ckeditor">{{ article.content }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" id="submit" name="submit" class="btn btn-primary">Publish</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/blogmain//ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/blogmain//ckeditor/adapters/jquery.js') }}"></script>

{% endblock %}
